* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* nav bar design start here */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(243, 233, 235);
}

nav .logo {
    width: 30%;
    text-align: center;
    margin-top: 20px;
}

nav .logo h1 {
    color: purple;
}

nav .logo h1 span {
    color: red;
}

nav .menu {
    width: 60%;
    text-align: center;
    margin-top: 20px;
}

nav .menu ul li {
    list-style: none;
    float: left;
    padding: 10px;
    margin: 0 20px;
}

nav .menu ul:nth-child(2) li {
    position: relative;
    top: -8px;
    left: 140px;
    color: #757575;
}

nav .menu ul li a {
    text-decoration: none;
    color: #747575;
}

nav .menu ul li a:hover {
    color: #b82197;
}

nav input[type=text] {
    padding: 10px;
    /* margin: 0 5px; */
    border-start-start-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    background: rgb(207, 196, 196);
}

nav #search_button {
    float: right;
    padding: 10px;
    border-end-end-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    background: rgb(202, 43, 43);
}


/* nav bar design end here */

.banner {
    background-image: url(../images/banner2.jpg);
    width: 100%;
    height: 60vh;
    color: white;
    background-repeat: no-repeat;
    background-size: unset;
}

.banner-content {
    color: #210d94;
    width: 60%;
    padding: 120px;
}

.banner-content button {
    padding: 5px;
    margin-top: 10px;
    ;
}

.feature-item h3 {
    padding: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
}

.item {
    background-color: azure;
    height: 50vh;
    display: flex;
    margin-bottom: 30px;
}

.child-1 {
    min-height: 100px;
    width: 25%;
    background-color: rgb(57, 41, 82);
    flex: 1;
    margin: 10px;
    background-image: url(../images/item1.gif);
}

.child-2 {
    min-height: 150px;
    width: 25%;
    background-color: #643e1c;
    flex: 1;
    margin: 10px;
    background-image: url(../images/banner.jpg);
}

.child-3 {
    min-height: 200px;
    width: 25%;
    background-color: rebeccapurple;
    flex: 1;
    margin: 10px;
    background-image: url(../images/item3.jpg);
}

.child-4 {
    min-height: 200px;
    width: 25%;
    background-color: rebeccapurple;
    flex: 1;
    margin: 10px;
    background-image: url(../images/item4.jpg);
}